/********** common setting **********/
:root {
  --main-color: #FFFEDE;
  --main-color-darker: #F7D488;
  --main-color-darkest: #FFAD05;
  --main-font: #141414;
  --main-font-darker: #000000;
}

html {
  font-size: 16px;
  /* @media screen and (max-width: 991px) {
    font-size: 62.5%;
  }
  @media screen and (max-width: 767px) {
    font-size: 50%;
  }
  @media screen and (max-width: 600px) {
    font-size: 45%;
  } */
}

@font-face {
  font-family: Denistina;
  src: url(font/denistina_en.ttf);
}

@font-face {
  font-family: JOURNALISM;
  src: url(font/journalism.ttf);
}

@font-face {
  font-family: GilroyBold;
  src: url(font/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(font/Gilroy-Light.otf);
}

body {
  background-color: var(--main-color) !important;
  padding-top: 1.25rem;
  margin: 0;
}

h1 {
  font-family: JOURNALISM;
  font-size: 4.688rem;
  font-weight: 400;
  line-height: 5.313rem;
  margin: 0;
}

h2 {
  font-family: JOURNALISM;
  font-size: 2.563rem;
  font-weight: 400;
  line-height: 2.625rem;
}

h3 {
  font-family: Gilroy;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.324rem;
  letter-spacing: 0.19em;
}

p {
  font-family: Gilroy;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.297rem;
}


.icon {
  font-family: Denistina;
  font-size: 1.814rem;
  font-weight: 400;
  line-height: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 6.25rem;
}

.container-reverse {
  display: flex;
  flex-direction: row;
  padding: 0 6.25rem;
}

.wave-background {
  background-image: url("../img/wave-section.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.section-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 3;
  justify-content: center;
}

.section-image {
  flex-grow: 2;
  padding: 3.125rem 3.125rem;
}

.section-image img{
  width: 45vw;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list .list-icon {
  background-image: url("../img/bubble-big.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  padding-right: 1.25rem;
  display: flex;
}

.list .list-bubble {
  background-image: url("../img/bubble.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding-right: 1.25rem;
  display: flex;
}

.list .list-icon img{
  width: 18px;
  height: 18px;
  margin: auto;
}

.list .list-element p {
  font-family: Gilroy;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.297rem;
}

.button-icon {
  border: none;
  margin: 2.5rem 0;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-image: url("../img/button.svg");
  display: flex;
  flex-direction: row;
  width: 25rem;
  height: 5.625rem;
  vertical-align: middle;
  align-items: center;
}

.button-icon .icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-grow: 3;
}

.button-icon .icon img{
  width: 21px;
  height: 21px;
  margin: auto;
}
.button-icon p {
  flex-grow: 4;
}


.wave {
  position: relative; 
  box-sizing:border-box;
  width: 100%;
  height: 0
}

.wave-top {
  position:absolute;
  margin:0;
  padding:0; 
  width: 100%;
  top: -2px
}

.wave-bottom {
  position:absolute;
  margin:0;
  padding:0; 
  width: 100%;
  bottom: 8px
}

.section-card {
  background-color: var(--main-color-darker);
  margin-top: -10px;
  padding: 5rem 3.125rem;
}

.section-card h1 {
  text-align: center;
}