/********** common setting **********/
:root {
  --main-color: #FFFEDE;
  --main-color-darker: #F7D488;
  --main-color-darkest: #FFAD05;
  --main-font: #141414;
  --main-font-darker: #000000;
}

html {
  font-size: 16px;
  /* @media screen and (max-width: 991px) {
    font-size: 62.5%;
  }
  @media screen and (max-width: 767px) {
    font-size: 50%;
  }
  @media screen and (max-width: 600px) {
    font-size: 45%;
  } */
}

@font-face {
  font-family: Denistina;
  src: url(font/denistina_en.ttf);
}

@font-face {
  font-family: JOURNALISM;
  src: url(font/journalism.ttf);
}

@font-face {
  font-family: GilroyBold;
  src: url(font/Gilroy-ExtraBold.otf);
  font-weight: bold;
}

@font-face {
  font-family: Gilroy;
  src: url(font/Gilroy-Light.otf);
}

body {
  background-color: var(--main-color) !important;
  padding-top: 1.25rem;
  margin: 0;
}

h1 {
  font-family: JOURNALISM;
  font-size: 4.688rem;
  font-weight: 400;
  line-height: 5.313rem;
  margin: 0;
}

h2 {
  font-family: JOURNALISM;
  font-size: 2.563rem;
  font-weight: 400;
  line-height: 2.625rem;
}

h3 {
  font-family: Gilroy;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.324rem;
  letter-spacing: 0.19em;
}

p {
  font-family: Gilroy;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.297rem;
}


.icon {
  font-family: Denistina;
  font-size: 1.814rem;
  font-weight: 400;
  line-height: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 6.25rem;
}

.container-reverse {
  display: flex;
  flex-direction: row;
  padding: 0 6.25rem;
}

.wave-background {
  background-image: url("../img/wave-section.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.section-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 3;
  justify-content: center;
}

.section-image {
  flex-grow: 2;
  padding: 3.125rem 3.125rem;
}

.section-image img{
  width: 45vw;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list .list-icon {
  background-image: url("../img/bubble-big.png");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  padding-right: 1.25rem;
  display: flex;
}

.list .list-bubble {
  background-image: url("../img/bubble.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding-right: 1.25rem;
  display: flex;
}

.list .list-icon img{
  width: 18px;
  height: 18px;
  margin: auto;
}

.list .list-element p {
  font-family: Gilroy;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.297rem;
}

.button-icon {
  border: none;
  margin: 2.5rem 0;
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-image: url("../img/button.svg");
  display: flex;
  flex-direction: row;
  width: 25rem;
  height: 5.625rem;
  vertical-align: middle;
  align-items: center;
}

.button-icon .icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-grow: 3;
}

.button-icon .icon img{
  width: 21px;
  height: 21px;
  margin: auto;
}
.button-icon p {
  flex-grow: 4;
}


.wave {
  position: relative; 
  box-sizing:border-box;
  width: 100%;
  height: 0
}

.wave-top {
  position:absolute;
  margin:0;
  padding:0; 
  width: 100%;
  top: -2px
}

.wave-bottom {
  position:absolute;
  margin:0;
  padding:0; 
  width: 100%;
  bottom: 8px
}

.section-card {
  background-color: var(--main-color-darker);
  margin-top: -10px;
  padding: 5rem 3.125rem;
}

.section-card h1 {
  text-align: center;
}

.card {
  background-color: var(--main-color);
  border: 1px solid rgba(35, 35, 35, 1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 3.125rem 1.125rem;
  margin: 0 1.125rem;
  align-items: center;
  text-align: center;
}

.card h2, p, img, .button-icon {
  margin: 0.5rem 0;
}

.card .button-icon {
  width: 18.75rem;
}

.card img {
  height: 15rem;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: var(--main-color-darkest);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
/* CSS */
.button-74 {
  background-color: var(--main-color-darkest);;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}